@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap');

html {
    color: #EDEDED;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

body {
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background: linear-gradient(#161616, #232323) fixed;
    margin: 0%;
    aspect-ratio: 1920 / 960;
    position: fixed;
    display: block;
}

#containers {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 15px;
}

#voices, #sounds, #input {
    display: inline-block;
    border-radius: 10px;
    width: 32%;
    height: 40vw;
    vertical-align: middle;
}

#sounds {
    overflow: auto;
    scrollbar-color: #262626;
    scrollbar-width: thin;
}

#sounds::-webkit-scrollbar {
    width: 10px;
}

#sounds::-webkit-scrollbar-track {
    background-image: linear-gradient(180deg, #8E73DC 0%, #a289ee 99%);;
    border-radius: 25px;
}

#sounds::-webkit-scrollbar-thumb {
    background-color: #5f4d94;
    border-radius: 25px;
}

#textarea {
    background-color: #262626;
    width: 95%;
    height: 45%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    font-size: 1.3vw;
    line-height: 1.3vw;
    padding-top: 10pt;
    padding-bottom: 10pt;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 100;
    border: none;
    box-sizing: border-box;
    padding: 20px;
    color: #EDEDED;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    resize: none;
}

#mini, #disclaimer, #count, .alts, #copy {
    background-color: none;
    border: none;
    color: #edededd0;
    font-size: 0.85vw;
    text-align: center;
    margin-top: 10px;
    font-weight: 300;
    white-space: nowrap;
}

#disclaimer {
    margin-top: 30px;
    font-weight: 700;
}

#tip-link, #store-link {
    visibility: hidden;
    padding: 5px;
    font-size: 1.3vw;
    width: 70%;
    border-radius: 0.5vw;
    font-weight: 300;
    top: 3vh;
    position: relative;
    text-align: center;
}

#store-link {
    top: 8vh;
    font-size: 1vw;
}

.alts {
    text-align: left;
    max-height: 0;
    transition: max-height 1s ease-in-out;
    overflow: hidden;
}

.upcomingAlts {
    text-align: left;
    max-height: 0;
    transition: max-height 1s ease-in-out;
    overflow: hidden;
    color: #4d4d4d;
}

.voiceRow {
    vertical-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 2.4vw;
    position: relative;
    border-left: 5px solid #D36DA9;
    margin-left: auto; 
    margin-right: 0;
}

.upcomingRow {
    border-left: 5px solid #4d4d4d;
}

.voiceName {
    display: inline-block;
    text-align: left;
    font-size: 2vw;
    font-weight: 200;
    margin-left: 20px;
    float: left;
    transition: font-size 0.3s ease-in-out;
    cursor: pointer;
}

.upcomingName {
    color: #4d4d4d;
}

.voiceName:hover {
    color: #D36DA9;
    font-size: 2.25vw;
}

.upcomingName:hover {
    color: #4d4d4d;
    font-size: 2vw;
    cursor: default;
}

.soundRow {
    margin: 3px;
    min-height: 30px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.soundName {
    font-weight: 200;
    font-size: 1.2vw;
    transition: font-size 0.3s ease-in-out;
    cursor: pointer;
}

.soundName:hover {
    color: #8E73DC;
    font-size: 1.5vw;
}

audio {
    display: none;
}

*:focus {
    outline: none;
}


a {
    text-decoration: none;
    color: #EDEDED;
    cursor: pointer;
}

#authors {
    position: absolute;
    bottom: 1vh;
    right: 1vw;
}

#tips {
    position: absolute;
    bottom: 1vh;
    left: 1vw;
    max-width: 50vw;
    max-height: 5vh;
    color: #ededed;
    opacity: 0.3;
    cursor: pointer;
}

#tips:hover {
    opacity: 1;
}

#all-tips {
    position: absolute;
    top: 10vh;
    left: 10vw;
    height: 80vh;
    width: 80vw;
    background-color: #0e0e0eea;
    border-radius: 1vw;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    word-wrap: normal;
    box-sizing: border-box;
    padding: 3vw;
    flex-direction: column;
    visibility: hidden;
    font-size: 1.4vw;
    line-height: 3vw;
}
